body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

#contenedor {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
   overflow-y: scroll; 
}

.text-final {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    max-width: 70%;
    word-wrap: break-word;
}

.resp-bot {
    background-color: blue;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    max-width: 70%;
    word-wrap: break-word;
    align-self: flex-end;
}

#input {
    display: flex;
    align-items: center; 
    background-color: grey;
    padding: 10px;
 
    
}

#valor-input {
    margin-left: 20%;
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

#btn-send {
    background-color: blue;
    color: #fff;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: -1px;
}
h1{
    margin: 1; 
}

.tomarfoto img{
display: flex;
width: 40px;
height: 40px;
border-radius: 15px;

}
#btnCamera{
    border-radius: 50%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: box-shadow 0.3s, transform 0.3s;
}
.tomarfoto{
   margin-left: 29%;
   margin-top: -6.8%;
 
}

#btnCamera:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05);
  
}

.ph{
    width: 200px;
    height: 150px;
}

